<div [id]="'learning-goal-card-' + learningGoal.id" class="course-exercise-row row align-items-center justify-content-between mb-2 mt-2 position-relative">
    <div class="col-auto d-none d-sm-block">
        <a class="exercise-row-icon">
            <fa-icon
                *ngIf="learningGoal.taxonomy"
                [icon]="getIcon(learningGoal.taxonomy)"
                size="2x"
                [ngbTooltip]="getIconTooltip(learningGoal.taxonomy) | artemisTranslate"
                container="body"
            ></fa-icon>
        </a>
    </div>
    <div class="col">
        <div class="row">
            <div class="col-auto d-sm-none">
                <h4 class="fw-medium">
                    <fa-icon *ngIf="learningGoal.taxonomy" [icon]="getIcon(learningGoal.taxonomy)"></fa-icon>
                </h4>
            </div>
            <div class="col-sm col">
                <h4 class="fw-medium">{{ learningGoal.title }}</h4>
                <p>{{ learningGoal.description }}</p>
            </div>
            <div class="col-sm col text-end">
                <jhi-circular-progress-bar style="display: inline-block" [progressInPercent]="20"> </jhi-circular-progress-bar>
                <jhi-circular-progress-bar style="display: inline-block" [progressInPercent]="70"> </jhi-circular-progress-bar>
            </div>
        </div>
    </div>
</div>
